<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- meta -->
    <%- include('./assets/ejs/meta.ejs')%>
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="./assets/style/all.css" rel="stylesheet" type="text/css" />
</head>

<body>

        <!-- header -->
        <%- include('./assets/ejs/header.ejs')%>
        <!-- 內容-->
        <%- contents %>
        <!-- footer -->
        <%- include('./assets/ejs/footer.ejs')%>
        
        <div class="topBack"></div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="./assets/js/all.js"></script>

</body>

</html>



